<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="4.1.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="98.0.4758.10200" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="4.0.0" targetFramework="net461" />
</packages>